# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.sw*

data*/*
python/*.txt
python/__pycache__/
*.pyc

build*/*

#CMake
advices.txt
*.txt.user

trash
trash/*

main
*autosave*
*.tar*
*.zip
*.avi

#dissection
dissection*.log
singularindex*data
*.png
